<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>ABout page</h1>
    <ul>
      <li><a href="/">Blogs</a></li>
      <li><a href="/about">about</a></li>
      <li><a href="#">New Blog</a></li>
    </ul>
    <h2>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. At ad voluptatum
      minus repellat sunt eum reiciendis. Officiis, corporis? Similique neque
      eveniet voluptatibus eligendi exercitationem perspiciatis? Nulla
      voluptatum vel dignissimos voluptatem.
    </h2>
    <h3>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam aperiam
      eaque expedita, atque dignissimos tempora consequatur harum culpa
      voluptates esse nisi? Maxime perferendis iste sunt sed alias cumque,
      expedita placeat!
    </h3>
  </body>
</html>
